<template>
  <div class="flex justify-center w-full">
    <div class="flex flex-col items-center px-8 xl:px-24 w-full">
      <img width="50" height="50" src="@/assets/logo.webp" />
      <h1 class="mb-3 mt-3">Auto Hyperparameter Tuning</h1>

      <div
        class="border rounded-lg border-gray-200 dark:border-gray-700 flex flex-col md:flex-row lg:flex-col 2xl:flex-row justify-between p-4 items-center lg:items-center 2xl:items-start w-full"
      >
        <div
          class="lg:flex items-center w-full 2xl:w-2/3 lg:justify-center 2xl:justify-start"
        >
          <button
            v-for="item in dataset"
            :key="item.i"
            :class="item.click ? item.css : item.focus"
            :disabled="item.disabled"
            v-on:Click="dataset_func(item.name, item.i)"
          >
            {{ item.name }}
          </button>
        </div>
        <div
          class="lg:flex items-center w-full 2xl:w-2/3 lg:justify-center 2xl:justify-start"
        >
          <button
            v-for="item in model"
            :key="item.i"
            :class="item.click ? item.css : item.focus"
            :disabled="item.disabled"
            v-on:Click="model_func(item.algorithm, item.i)"
          >
            {{ item.name }}
          </button>
        </div>
      </div>

      <!-- DATASET -->
      <div
        class="mt-3 mb-3 border rounded-lg border-gray-200 dark:border-gray-700 flex flex-col md:flex-row lg:flex-col 2xl:flex-row justify-between p-4 items-center lg:items-center 2xl:items-start w-full"
      >
        <!-- LINE TOKEN -->
        <div
          class="mt-4 md:mt-0 lg:mt-4 md:ml-4 lg:ml-0 flex flex-col md:flex-row items-center w-full sm:w-10/12 md:w-2/3 2xl:w-1/3 2xl:mt-0"
        >
          <div
            class="relative text-gray-800 dark:text-white md:mr-4 w-full lg:w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 m-auto ml-3 icon icon-tabler icon-tabler-search"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                fill-rule="evenodd"
                d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
                clip-rule="evenodd"
              />
            </svg>
            <label class="absolute pointer-events-none opacity-0"
              >LINE TOKEN
            </label>
            <input
              type="password"
              v-model="payload.token"
              class="text-sm md:text-base w-full focus:outline-none px-5 py-2 lg:py-3 bg-gray-100 rounded pl-10 placeholder-gray-800 dark:placeholder-white dark:bg-gray-800"
              placeholder="LINE TOKEN"
            />
          </div>
        </div>
        <!-- HOST -->
        <div
          class="mt-4 md:mt-0 lg:mt-4 md:ml-4 lg:ml-0 flex flex-col md:flex-row items-center w-full sm:w-10/12 md:w-2/3 2xl:w-1/3 2xl:mt-0"
        >
          <div
            class="relative text-gray-800 dark:text-white md:mr-4 w-full lg:w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 m-auto ml-3 icon icon-tabler icon-tabler-search"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                fill-rule="evenodd"
                d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z"
                clip-rule="evenodd"
              />
            </svg>
            <label class="absolute pointer-events-none opacity-0">HOST</label>
            <input
              v-model="payload.host"
              class="text-sm md:text-base w-full focus:outline-none px-5 py-2 lg:py-3 bg-gray-100 rounded pl-10 placeholder-gray-800 dark:placeholder-white dark:bg-gray-800"
              placeholder="HOST"
            />
          </div>
        </div>
        <!-- USERNAME -->
        <div
          class="mt-4 md:mt-0 lg:mt-4 md:ml-4 lg:ml-0 flex flex-col md:flex-row items-center w-full sm:w-10/12 md:w-2/3 2xl:w-1/3 2xl:mt-0"
        >
          <div
            class="relative text-gray-800 dark:text-white md:mr-4 w-full lg:w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 m-auto ml-3 icon icon-tabler icon-tabler-search"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                clip-rule="evenodd"
              />
            </svg>
            <label class="absolute pointer-events-none opacity-0"
              >USERNAME</label
            >
            <input
              v-model="payload.username"
              class="text-sm md:text-base w-full focus:outline-none px-5 py-2 lg:py-3 bg-gray-100 rounded pl-10 placeholder-gray-800 dark:placeholder-white dark:bg-gray-800"
              placeholder="USERNAME"
            />
          </div>
        </div>
        <!-- PASSWORD -->
        <div
          class="mt-4 md:mt-0 lg:mt-4 md:ml-4 lg:ml-0 flex flex-col md:flex-row items-center w-full sm:w-10/12 md:w-2/3 2xl:w-1/3 2xl:mt-0"
        >
          <div
            class="relative text-gray-800 dark:text-white md:mr-4 w-full lg:w-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 m-auto ml-3 icon icon-tabler icon-tabler-search"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                fill-rule="evenodd"
                d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                clip-rule="evenodd"
              />
            </svg>
            <label class="absolute pointer-events-none opacity-0"
              >PASSWORD</label
            >
            <input
              v-model="payload.password"
              type="password"
              class="text-sm md:text-base w-full focus:outline-none px-5 py-2 lg:py-3 bg-gray-100 rounded pl-10 placeholder-gray-800 dark:placeholder-white dark:bg-gray-800"
              placeholder="PASSWORD"
            />
          </div>
        </div>
      </div>

      experiment name: {{ message }}
      <button
        v-on:Click="run_experiment_func"
        :disabled="!experiment_status"
        :class="
          message
            ? `inline-flex items-center mx-2 my-2 bg-indigo-700 w-30 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-16 py-4 text-xl`
            : `items-center mx-2 my-2 bg-indigo-700 w-30 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-16 py-4 text-xl`
        "
      >
        <svg
          v-if="!experiment_status"
          class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        RUN EXPERIMENT
      </button>
      <h2 class="mt-3">
        I would love to connect and talk more about this project! Shoot me a
        message on
        <a
          class="underline decoration-sky-500"
          href="https://www.linkedin.com/in/ratchaphon/"
          target="_blank"
          >Linkedin</a
        >
        or medium me at
        <a
          class="underline decoration-sky-500"
          href="https://medium.com/@ratchaphon"
          target="_blank"
          >https://medium.com/@ratchaphon</a
        >
      </h2>
      <Table />
    </div>
  </div>
</template>

<script>
import axios from "@/service/axios.js";
import segment from "@/service/segment.js";
import Table from "@/components/table.vue";
export default {
  components: { Table },
  methods: {
    dataset_func(dataset, i) {
      this.payload.dataset = dataset;
      segment.segment_event("click dataset", dataset);
      var item = [];
      for (item of this.dataset) {
        if (item.i == i) {
          this.dataset[item.i].click = false;
        } else {
          this.dataset[item.i].click = true;
        }
      }
    },
    model_func(algorithm, i) {
      this.payload.algorithm = algorithm;
      segment.segment_event("click model", algorithm);
      var item = [];
      for (item of this.model) {
        if (item.i == i) {
          this.model[item.i].click = false;
        } else {
          this.model[item.i].click = true;
        }
      }
    },
    run_experiment_func() {
      console.log(this.payload);
      this.experiment_status = false;

      axios
        .run_experiment(this.payload)
        .then((response) => {
          segment.segment_run_experiment(
            this.payload.dataset,
            this.payload.algorithm
          );
          this.message = response.data.experiment_name;
          this.experiment_status = true;
          console.log(response);
        })
        .catch((error) => {
          this.message = "โปรดตรวจสอบข้อมูลอีกครั้ง...";
          this.experiment_status = true;
          console.log({ error });
        });
    },
  },
  data() {
    return {
      message: "",
      experiment_status: true,
      payload: {
        dataset: null,
        algorithm: null,
        host: null,
        username: null,
        password: null,
        image:
          "registry.gitlab.com/ratchaphonboss/fashion-mnist-katib-experiment:3ecd4a3a879a2a05bea4f4a1dadffc07da8460c8",
        args: "python /opt/main.py --tf-epochs=10 --tf-learning-rate=${trialParameters.tf_learning_rate} --tf-num-layers=${trialParameters.tf_num_layers} --tf-optimizer=${trialParameters.tf_optimizer} --tf-dropout=${trialParameters.tf_dropout} --tf-batch-size=${trialParameters.tf_batch_size} --tf-num-dims=${trialParameters.tf_num_dims}",
        maxTrialCount: 2,
        maxFailedTrialCount: 1,
        parallelTrialCount: 2,
        experiment_timeout_minutes: 10,
        token: null,
      },
      dataset: [
        {
          i: 0,
          disabled: false,
          click: true,
          name: "MNIST",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 focus:text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700 dark:hover:bg-indigo-700 focus:bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16 text-gray-800 dark:text-gray-300",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 1,
          disabled: false,
          click: true,
          name: "FASHION MNIST",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 focus:text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700 dark:hover:bg-indigo-700 focus:bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16 text-gray-800 dark:text-gray-300",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 2,
          disabled: true,
          click: true,
          name: "clevr",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none text-gray-400 uppercase px-5 py-4 rounded-md flex justify-center items-center",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 3,
          disabled: true,
          click: true,
          name: "coil100",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none text-gray-400 uppercase px-5 py-4 rounded-md flex justify-center items-center",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 4,
          disabled: true,
          click: true,
          name: "dsprites",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none text-gray-400 uppercase px-5 py-4 rounded-md flex justify-center items-center",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
      ],
      model: [
        {
          i: 0,
          click: true,
          disabled: false,
          name: "Grid search",
          algorithm: "grid",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 focus:text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  focus:bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16 text-gray-800 dark:text-gray-300",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 1,
          disabled: false,
          click: true,
          name: "Random search",
          algorithm: "random",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 focus:text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  focus:bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16 text-gray-800 dark:text-gray-300",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 2,
          disabled: false,
          click: true,
          name: "Bayesian optimization",
          algorithm: "bayesianoptimization",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 focus:text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700 dark:hover:bg-indigo-700 focus:bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16 text-gray-800 dark:text-gray-300",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 3,
          disabled: true,
          click: true,
          name: "hyperband",
          algorithm: "hyperband",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none text-gray-400 uppercase px-5 py-4 rounded-md flex justify-center items-center",
          focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
        {
          i: 4,
          disabled: true,
          click: true,
          name: "TPE",
          algorithm: "tpe",
          css: "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none text-gray-400 uppercase px-5 py-4 rounded-md flex justify-center items-center",
          css_focus:
            "focus:outline-none md:text-xs lg:text-sm 2xl:text-base leading-none hover:text-gray-50 text-gray-50 uppercase px-5 py-4 dark:focus:bg-indigo-700  bg-indigo-700 hover:bg-indigo-700 rounded-md flex justify-center items-center mr-16",
        },
      ],
    };
  },
};
</script>

<style scoped>
@import url("https://cdn.tuk.dev/dist/css/tailwind-v2.2.11.min.css");
</style>
