<template>
  <div class="home">
    <div class="flex flex-row space-x-4">
      <!-- input1 -->
      <div
        class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 py-2 h-96 w-1/2"
      >
        <newsInput />
      </div>
      <div
        class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 py-2 h-96 w-1/2"
      >
        <newsInput />
      </div>
    </div>
    <!-- button -->
    <buttonControl />
    <!-- result -->
    <resultPredict />
  </div>
</template>

<script>
// @ is an alias to /src
import newsInput from "@/components/newsInput.vue";
import buttonControl from "@/components/buttonControl.vue";
import resultPredict from "@/components/resultPredict.vue";
export default {
  name: "NERView",
  components: {
    newsInput,
    buttonControl,
    resultPredict,
  },
};
</script>
