<template>
  <div class="flex space-x-4 justify-center pr-6 mt-5">
    <button
      class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 bg-white transition duration-150 ease-in-out focus:outline-none hover:bg-gray-100 rounded text-indigo-700 px-8 py-4 text-sm"
    >
      ล้างข้อมูล
    </button>
    <button
      class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-4 text-sm"
    >
      วิเคราะห์
    </button>
  </div>
</template>

<script>
export default {
  name: "buttonControl",
};
</script>

<style></style>
