<template>
  <textarea
    v-model="message"
    class="w-full h-full px-3"
    placeholder="กรอกข้อความ"
  ></textarea>
</template>

<script>
export default {
  name: "newsInput",
  data() {
    return {
      message: "",
    };
  },
  computed: {
    InputEvent() {
      return this.message;
    },
  },
  watch: {
    InputEvent(value, oldValue) {
      console.log(value, oldValue);
      // this.message = this.msg;
    },
  },
};
</script>
