<template>
  <div class="flex space-x-4 h-56 mt-5">
    <div class="w-full">
      <div
        class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 place-content-stretch h-full"
      >
        <div class="flex flex-wrap overflow-auto h-52 px-3 py-2">
          <span
            v-for="output in input[0].output"
            :key="output.text"
            class="leading-7 pr-1"
          >
            <span v-if="output.tag == 'O'">
              {{ output.text }}
            </span>
            <span
              v-else
              :class="`${color_tag(
                output.tag
              )} text-base px-1 pb-1 w-full rounded`"
            >
              <span class="text-base text-black font-normal pr-1">
                {{ output.text }}
              </span>
              <span
                :class="`${color_text(
                  output.tag
                )} text-xs font-normal font-semibold h-full w-full px-1 rounded-sm bg-white`"
              >
                {{ output.tag }}
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "resultPredict",
  data() {
    return {
      input: [
        {
          message:
            "สำนักงานอัยการพิเศษฝ่ายคดีศาลแขวง 6 (ปทุมวัน) ชี้แจงตามหนัง อส.0025.6/440 เมื่อวันที่ 8 เม.ย.2564 ได้ความว่า ได้รับสำนวนจากสถานีนครบาลปทุมวัน เป็นสำนวนส. 1 เลขรับที่ 36/2538 ระหว่างพ.ต.ต.เขมรินทร์ เป็นผู้กล่าวหา นายสิระ ผู้ถูกร้องเป็นผู้ต้องหาที่ 1 นายสมชาย เกียรติพิทยสกุล เป็นผู้ต้องหาที่ 2 และนายสิทธิชัย บุณยนิตย์ เป็นผู้ต้องหาที่ 3 ฐานร่วมกันฉ้อโกง ต่อมาเมื่อวันที่ 4 ส.ค.2538 สำนักงานอัยการพิเศษฝ่ายคดี ศาลแขวง 6 ปทุมวัน เป็นโจทย์ยื่นฟ้องผู้ถูกร้อง ซึ่งเป็นผู้ต้องหาที่ 1 เป็นจำเลยต่อศาลแขวง 6 ปทุมวัน ในคดีอาญา 1 หมายเลขดำที่ 812/2538 ขอให้ลงโทษจำเลยตามประมวลกฎหมายอาญามาตรา 341 ,91, 83 พระราชบัญญัติแก้ไขเพิ่มเติมประมวลกฎหมายอาญา ฉบับที่ 6 พ.ศ. 2526 มาตรา 4 และสั่งให้จำเลยคืน รือใช้ราคาทรัพย์แก่ผู้เสียหาย และริบสัญญาจะซื้อจะขาย 3 ฉบับ ทั้ง 3 ฉบับ โดยพนักงานอัยการมีคำสั่งให้ยุติการดำเนินคดี นายสมชาย และนายสิทธิชัย",
          output: [],
        },
        {
          message:
            "ข้อเท็จจริงตามคำร้อง คำชี้แจงแก้ข้อกล่าวหา คำชี้แจงของหน่วยงาน หรือบุคคลที่เกี่ยวข้องได้แก่ ได้แก่ศาลแขวงปทุมวัน ลอุทธรณ์ อัยการพิเศษฝ่ายคดี ศาลแขวง 6 (ปทุมวัน) เรือนจำพิเศษกรุงเทพฯ กองทะเบียนประวัติอาชญากร สำนักงานตำรวจแห่งชาติ และเอกสารประกอบ สรุปได้ว่า ผู้ถูกร้องเป็นสมาชิกสภาผู้แทนราษฎร แบบแบ่งเขตเลือกตั้ง พ.ต.ต.เขมรินทร์ หัสศิริ ซึ่งเป็นยศในขณะนั้น ร้องทุกข์ต่อพนักงานสอบสวนสถานีตำรวจนครบาลปทุมวัน เมื่อ 15 ต.ค. 2537 ให้ดำเนินคดีนายสิระ และพวกฐานฉ้อโกง เป็นคดีอาญาที่ 2889/2537 ของสถานีตำรวจนครบาลปทุมวัน พ.ต.ต.เขมรินทร์ เป็นผู้กล่าวหา นายสิระ ผู้ถูกร้องเป็นผู้ต้องหาที่ 1 นายสมชาย เกียรติพิทยสกุล เป็นผู้ต้องหาที่ 2 และนายสิทธิชัย บุณยนิตย์ เป็นผู้ต้องหาที่ 3",
          output: [],
        },
      ],
    };
  },
  methods: {
    color_tag(tag) {
      if (tag == "B-ORGANIZATION" || tag == "I-ORGANIZATION") {
        return "bg-pink-400";
      } else if (tag == "B-PERSON" || tag == "I-PERSON") {
        return "bg-blue-400";
      } else if (tag == "B-TIME" || tag == "I-TIME") {
        return "bg-green-400";
      } else if (tag == "B-DATE" || tag == "I-DATE") {
        return "bg-yellow-400";
      } else if (tag == "B-LAW" || tag == "I-LAW") {
        return "bg-purple-400";
      } else if (tag == "B-LOCATION" || tag == "I-LOCATION") {
        return "bg-red-400";
      } else {
        return "bg-gray-400";
      }
    },
    color_text(tag) {
      if (tag == "B-ORGANIZATION" || tag == "I-ORGANIZATION") {
        return "text-pink-700";
      } else if (tag == "B-PERSON" || tag == "I-PERSON") {
        return "text-blue-500";
      } else if (tag == "B-TIME" || tag == "I-TIME") {
        return "text-green-500";
      } else if (tag == "B-DATE" || tag == "I-DATE") {
        return "text-yellow-500";
      } else if (tag == "B-LAW" || tag == "I-LAW") {
        return "text-purple-500";
      } else if (tag == "B-LOCATION" || tag == "I-LOCATION") {
        return "text-red-500";
      } else {
        return "text-gray-500";
      }
    },
  },
};
</script>

<style></style>
