<template>
  <body class="flex items-center justify-center py-8 px-2">
    <div class="w-full sm:px-6">
      <div
        class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg"
      >
        <div class="sm:flex items-center justify-between">
          <p
            tabindex="0"
            class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800"
          >
            Experiment Report
          </p>
        </div>
      </div>
      <div
        class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto"
      >
        <table class="w-full whitespace-nowrap">
          <thead>
            <tr
              tabindex="0"
              class="focus:outline-none h-16 w-full text-sm leading-none text-gray-800"
            >
              <th class="font-normal text-left pl-4">Katib Name</th>
              <th class="font-normal text-left pl-12">Accuracy</th>
              <th class="font-normal text-left pl-12">Tasks</th>
              <th class="font-normal text-left pl-20">Learning Rate</th>
              <th class="font-normal text-left pl-20">Num Layers</th>
              <th class="font-normal text-left pl-20">Optimizer</th>
              <th class="font-normal text-left pl-20">Serving</th>
            </tr>
          </thead>
          <tbody class="w-full">
            <tr
              tabindex="0"
              class="focus:outline-none h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100"
            >
              <td class="pl-4 cursor-pointer">
                <div class="flex items-center">
                  <div class="w-10 h-10">
                    <img
                      class="w-full h-full"
                      src="https://www.dkube.io/img/features/Kubeflow-Logo.png"
                      alt="UX Design and Visual Strategy"
                    />
                  </div>
                  <div class="pl-4 text-left">
                    <p class="font-medium">Katib-xxxx-xxxx</p>
                    <p class="text-xs leading-3 text-gray-600 pt-2">
                      DATASET: MNIST
                    </p>
                    <p class="text-xs leading-3 text-gray-600 pt-2">
                      SEARCH: GRID
                    </p>
                  </div>
                </div>
              </td>
              <td class="pl-12">
                <p class="text-sm font-medium leading-none text-gray-800">
                  72%
                </p>
                <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                  <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                </div>
              </td>
              <td class="pl-12">
                <p class="font-medium">5/5</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">0.1216</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">2</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">sgd</p>
              </td>
              <td class="pl-20">
                <button
                  class="inline-flex items-center mx-2 my-2 bg-white transition duration-150 ease-in-out hover:border-indigo-600 hover:text-indigo-600 rounded border border-indigo-700 text-indigo-700 px-6 py-2 text-xs"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-3 mr-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Endpoint
                </button>
              </td>
            </tr>
            <tr
              tabindex="0"
              class="focus:outline-none h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100"
            >
              <td class="pl-4 cursor-pointer">
                <div class="flex items-center">
                  <div class="w-10 h-10">
                    <img
                      class="w-full h-full"
                      src="https://www.dkube.io/img/features/Kubeflow-Logo.png"
                    />
                  </div>
                  <div class="pl-4 text-left">
                    <p class="font-medium">Katib-xxxx-xxxx</p>
                    <p class="text-xs leading-3 text-gray-600 pt-2">
                      DATASET: MNIST
                    </p>
                    <p class="text-xs leading-3 text-gray-600 pt-2">
                      SEARCH: GRID
                    </p>
                  </div>
                </div>
              </td>
              <td class="pl-12">
                <p class="text-sm font-medium leading-none text-gray-800">
                  72%
                </p>
                <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                  <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                </div>
              </td>
              <td class="pl-12">
                <p class="font-medium">5/5</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">0.1216</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">2</p>
              </td>
              <td class="pl-20">
                <p class="font-medium">sgd</p>
              </td>
              <td class="pl-20">
                <button
                  class="inline-flex items-center mx-2 my-2 bg-white transition duration-150 ease-in-out hover:border-indigo-600 hover:text-indigo-600 rounded border border-indigo-700 text-indigo-700 px-6 py-2 text-xs"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-3 mr-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Endpoint
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</template>

<script>
export default {
  name: "TableComponent",
  data() {
    return {
      show: null,
    };
  },
  methods: {},
  mounted() {},
};
</script>

<style></style>
